<div *ngIf="visible">
  <form class="flex flex-col gap-4 bg-slate-50 max-w-lg">
    <label for="card-type">Card type</label>
    <input
      type="text"
      name="card-type"
      id=""
      class="border-2"
      [(ngModel)]="userCard.type"
    />
    <label for="card-name">Card Name</label>
    <input
      type="text"
      name="card-name"
      id=""
      class="border-2"
      [(ngModel)]="userCard.name"
    />
    <label for="card-image">Card image url</label>
    <input
      type="text"
      name="card-image"
      id=""
      class="border-2"
      [(ngModel)]="userCard.imgPath"
    />
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <label for="atk">card attack value</label
        ><input
          type="number"
          name="atk"
          id=""
          class="border-2"
          [(ngModel)]="userCard.atk"
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="def">card defense value</label
        ><input
          type="number"
          name="def"
          id=""
          class="border-2"
          [(ngModel)]="userCard.def"
        />
      </div>
    </div>
    <button type="submit" class="px-8 py-3 bg-red-600" (click)="onCreateCard()">
      ⚔️ to the battlefield
    </button>
  </form>
</div>
<div class="flex gap-2">
  <button
    class="px-8 py-3 border-2 border-[#2b2d42] bg-[#2b2d42] text-white"
    (click)="onCardCreationPanel()"
  >
    Create Card
  </button>
  <button
    class="px-8 py-3 bg-white border-2 border-[#2b2d42] text-[#2b2d42]"
    (click)="onDrawCard()"
  >
    Draw Card
  </button>
</div>
