ul {
  list-style: none;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-heroes {
  background: #282b28;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
.badge {
  font-weight: 400;
}
.hero {
  color: white;
  background: #3e5641;
  padding: 24px 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 600;
}

.hero:hover {
  transform: scale(105%);
}

.hero.selected {
  color: white;
  background: #d36135;
  padding: 24px 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 600;
}

.btn {
  padding: 12px 6px;
  cursor: pointer;
  border-radius: 20px;
  border-style: none;
  background-color: #83bca9;
}
.btn:hover {
  background-color: #fff;
  color: #3e5641;
}
.selected .btn {
  background-color: #a24936;
  color: #fff;
  padding: 12px 6px;
  cursor: pointer;
  border-radius: 20px;
  border-style: none;
}
